name: Convert gameparams

on:
  push:
    tags:
      - 'convert-*'

jobs: 
  convertAndUploadData:
    runs-on: windows-latest
    name: Convert gameparams and upload data

    steps:
      - uses: actions/checkout@v2
      - name: Checkout gameparams repository
        uses: actions/checkout@v2
        with: 
          repository: WoWs-Builder-Team/FilteredGameParams2Json
          path: gameparams
      - name: Configure AWS credentials from Test account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
          aws-region: eu-central-1
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Prepare data converter
        run: dotnet test -c Release --verbosity normal
        
      - name: Get and store tag version name
        run: echo ("GAME_VERSION=" + $env:GITHUB_REF.Replace('refs/tags/convert-', '')) >> $env:GITHUB_ENV
      - name: Get base output path
        run: if ("$env:GAME_VERSION".Contains("pts")) { echo ("OUTPUT_ADDITION=pts") >> $env:GITHUB_ENV } else { echo ("OUTPUT_ADDITION=live") >> $env:GITHUB_ENV }
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install Python dependencies
        working-directory: gameparams
        run: pip install -r requirements.txt
        
      - name: Run gameparams live extract
        if: "!contains(github.ref, 'pts')"
        working-directory: gameparams
        run: python GameParams2Json.py --path GameParams.data --filter
      - name: Run gameparams pts extract
        if: "contains(github.ref, 'pts')"
        working-directory: gameparams
        run: python GameParams2Json.py --path GameParams_pt.data --filter --pts
        
      - name: Run data converter
        run: dotnet run -c Release --project DataConverter "gameparams\$env:OUTPUT_ADDITION\entities" "gameparams\out\$env:OUTPUT_ADDITION" "$env:GAME_VERSION"
      - name: Create localization output directory
        run: New-Item -Path "gameparams\out\$env:OUTPUT_ADDITION\" -Name "Localization" -ItemType "directory"
      - name: Run localization extraction
        run: python gameparams\localization\mo2json.py --filter "gameparams\out\$env:OUTPUT_ADDITION\TranslationNames.csv" --localizations gameparams\localization\texts --serial
#      - name: Copy localization output
#        run: Copy-Item -Path 'gameparams\localization\output\*.json' -Destination 'gameparams\out\$env:OUTPUT_ADDITION\Localization'
      - name: Copy localization output (Temporary workaround)
        run: Copy-Item -Path 'gameparams\localization\output\en.json' -Destination 'gameparams\out\$env:OUTPUT_ADDITION\Localization\en-GB.json'
      
      - name: Backup old files
        run: aws s3 mv s3://wows-shipbuilder-data/api/$env:OUTPUT_ADDITION s3://wows-shipbuilder-data/old/pre-$env:GAME_VERSION-$env:OUTPUT_ADDITION --recursive
      - name: Upload files
        run: aws s3 sync "gameparams\out\$env:OUTPUT_ADDITION" "s3://wows-shipbuilder-data/api/$env:OUTPUT_ADDITION" --exclude "*.csv"
      - name: Invalidate cache
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_ID }} --paths "/api/$env:OUTPUT_ADDITION/*"