name: Convert gameparams

on:
  push:
    tags:
      - 'convert-*'

jobs: 
  convertAndUploadData:
    runs-on: windows-latest
    name: Convert gameparams and upload data

    steps:
      - uses: actions/checkout@v2
      - name: Checkout gameparams repository
        uses: actions/checkout@v2
        with: 
          repository: WoWs-Builder-Team/FilteredGameParams2Json
          path: gameparams
      - name: Configure AWS credentials from Test account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
          aws-region: eu-central-1
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Get and store tag version name
        run: echo ("GAME_VERSION=" + $env:GITHUB_REF.Replace('refs/tags/convert-', '')) >> $env:GITHUB_ENV
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install Python dependencies
        working-directory: gameparams
        run: pip install -r requirements.txt
      - name: Run gameparams extract
        working-directory: gameparams\localization
        run: python GameParams2Json.py --path GameParams.data --filter
      - name: Run data converter
        run: dotnet run -c Release --project DataConverter gameparams\entities gameparams\out "$env:GAME_VERSION"
      - name: Create localization output directory
        run: New-Item -Path "gameparams\out\" -Name "Localization" -ItemType "directory"
      - name: Run localization extraction
        run: python gameparams\localization\mo2json.py --filter gameparams\out\TranslationNames.csv --mofile gameparams\localization\global.mo --out gameparams\out\Localization\en-EN.json
      
      - name: Backup old files
        run: aws s3 mv s3://wows-shipbuilder-data/api s3://wows-shipbuilder-data/old/pre-$env:GAME_VERSION --recursive
      - name: Upload files
        run: aws s3 sync gameparams\out s3://wows-shipbuilder-data/api
      - name: Invalidate cache
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_ID }} --paths "/api/*"