name: Convert gameparams

on:
  push:
    tags:
      - 'convert-*'

jobs: 
  convertAndUploadData:
    runs-on: ubuntu-latest
    name: Convert gameparams and upload data

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
          aws-region: eu-central-1
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
          
      - name: Prepare data converter
        run: dotnet test -c Release --verbosity normal
        
      - name: Get and store tag version name
        run: echo "GAME_VERSION=${GITHUB_REF#refs/*/convert-}" >> $GITHUB_ENV
      - name: Set pts output path
        if: contains(github.ref, 'pts')
        run: |
          echo "SERVER_TYPE=pts" >> $GITHUB_ENV
          echo "TEXTS_DIRECTORY=texts_pts" >> $GITHUB_ENV
      - name: Set live output path
        if: "! contains(github.ref, 'pts')"
        run: |
          echo "SERVER_TYPE=live" >> $GITHUB_ENV
          echo "TEXTS_DIRECTORY=texts" >> $GITHUB_ENV
        
      - name: Define gameparams output
        run: echo "OUTPUT_PATH=$(pwd)/gameparams/out" >> $GITHUB_ENV
      - name: Run gameparams extraction
        run: dotnet run -c Release -- convert -s $SERVER_TYPE -p InputData/GameParams_$SERVER_TYPE.data -l InputData/$TEXTS_DIRECTORY -o $OUTPUT_PATH -v $GAME_VERSION
        working-directory: DataConverter.Console
      
      - name: Backup old files
        run: aws s3 mv s3://wows-shipbuilder-data/api/$SERVER_TYPE s3://wows-shipbuilder-data/old/pre-$GAME_VERSION-$SERVER_TYPE --recursive
      - name: Upload files
        run: aws s3 sync "gameparams/out" "s3://wows-shipbuilder-data/api/$SERVER_TYPE" --exclude "*.csv"
      - name: Invalidate cache
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_ID }} --paths "/api/$SERVER_TYPE/*"