name: Convert gameparams

on:
  push:
    tags:
      - 'convert-*'

jobs: 
  convertAndUploadData:
    runs-on: windows-latest
    name: Convert gameparams and upload data

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
          aws-region: eu-central-1
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
          
      - name: Prepare data converter
        run: dotnet test -c Release --verbosity normal
        
      - name: Get and store tag version name
        run: echo ("GAME_VERSION=" + $env:GITHUB_REF.Replace('refs/tags/convert-', '')) >> $env:GITHUB_ENV
      - name: Get base output path
        run: if ("$env:GAME_VERSION".Contains("pts")) { echo ("OUTPUT_ADDITION=pts") >> $env:GITHUB_ENV } else { echo ("OUTPUT_ADDITION=live") >> $env:GITHUB_ENV }
        
      - name: Run gameparams extraction
        run: Tools\RunExtraction.ps1 "$env:GAME_VERSION" "$env:OUTPUT_ADDITION"
      
      - name: Backup old files
        run: aws s3 mv s3://wows-shipbuilder-data/api/$env:OUTPUT_ADDITION s3://wows-shipbuilder-data/old/pre-$env:GAME_VERSION-$env:OUTPUT_ADDITION --recursive
      - name: Upload files
        run: aws s3 sync "gameparams\out" "s3://wows-shipbuilder-data/api/$env:OUTPUT_ADDITION" --exclude "*.csv"
      - name: Invalidate cache
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_ID }} --paths "/api/$env:OUTPUT_ADDITION/*"