name: Convert gameparams

on:
  push:
    tags:
      - 'convert-*'

jobs: 
  convertAndUploadData:
    runs-on: ubuntu-latest
    name: Convert gameparams and upload data

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
          aws-region: eu-central-1
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
          
      - name: Prepare data converter
        run: dotnet test -c Release --verbosity normal
        
      - name: Get and store tag version name
        run: echo "GAME_VERSION=${GITHUB_REF#refs/*/convert-}" >> $GITHUB_ENV
      - name: Set pts output path
        if: contains(github.ref, 'pts')
        run: echo "OUTPUT_ADDITION=pts" >> $GITHUB_ENV
      - name: Set live output path
        if: ! contains(github.ref, 'pts')
        run: echo "OUTPUT_ADDITION=live" >> $GITHUB_ENV
        
      - name: Run gameparams extraction
        run: Tools\RunExtraction.ps1 "$env:GAME_VERSION" "$env:OUTPUT_ADDITION"
        shell: pwsh
      
      - name: Backup old files
        run: aws s3 mv s3://wows-shipbuilder-data/api/$env:OUTPUT_ADDITION s3://wows-shipbuilder-data/old/pre-$GAME_VERSION-$OUTPUT_ADDITION --recursive
      - name: Upload files
        run: aws s3 sync "gameparams/out" "s3://wows-shipbuilder-data/api/$env:OUTPUT_ADDITION" --exclude "*.csv"
      - name: Invalidate cache
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_ID }} --paths "/api/$env:OUTPUT_ADDITION/*"