name: Build and deploy data structure package

on:
  push:
    tags:
      - 'data-*'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build solution and run tests

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json
      - name: Restore dependencies
        run: dotnet restore
      - name: Build Debug
        run: dotnet build --no-restore -c Debug
      - name: Test Debug
        run: dotnet test --no-build --verbosity normal
      - name: Build Release
        run: dotnet build --no-restore -c Release
      - name: Test Release
        run: dotnet test --no-build -c Release --verbosity normal

  publish-nuget:
    runs-on: ubuntu-latest
    name: Build and publish NuGet package
    needs: build

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET with NuGet
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.NUGET_TOKEN}}
      - name: Rebuild nuget package
        run: dotnet build WoWsShipBuilder.DataStructures -c Release
      - name: Publish nuget package
        run: dotnet nuget push "WoWsShipBuilder.DataStructures/bin/Release/*.nupkg" -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_TOKEN }}